<ion-header> 
  <ion-toolbar color="primary"> 
  <ion-title>Tabla de idiomas</ion-title> 
  </ion-toolbar> 
 </ion-header> 
<ion-content [fullscreen]="true">
 

  <div id="container"> 
    <ul>
      <li>
        <button  > <img src="./../../assets/temas/color.png"   width="100px"></button>
      </li>
      <li>
        <button  >  <img src="./../../assets/temas/numero.png"   width="100px"></button>
      </li>
      <li>
        <button  > <img src="./../../assets/temas/vaca.png"   width="100px"></button>
      </li>
      </ul>
    </div> 
</ion-content>
