 
<div *ngIf='tema == "numeros"'>
    <div *ngFor=" let item of numeros ">
        <ion-card>
            <ion-card-header>
                <img src="{{item.imagen}}" width="50px">
            </ion-card-header>
            <ion-card-content>
                <audio preload="none" controls src="{{item.sonido}}"></audio>
            </ion-card-content>
        </ion-card>
    </div>
</div>

<div *ngIf='tema == "colores"'>
    <div *ngFor=" let item of colores ">
        <ion-card>
            <ion-card-header>
                <img src="{{item.imagen}}" width="50px">
            </ion-card-header>
            <ion-card-content>
                <audio preload="none" controls src="{{item.sonido}}"></audio>
            </ion-card-content>
        </ion-card>
    </div>
</div>

<div *ngIf='tema == "animales"'>
    <div *ngFor=" let item of animales ">
        <ion-card>
            <ion-card-header>
                <img src="{{item.imagen}}" width="50px">
            </ion-card-header>
            <ion-card-content>
                <audio preload="none" controls src="{{item.sonido}}"></audio>
            </ion-card-content>
        </ion-card>
    </div>
</div>