<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tabla de idiomas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
<div style="background-color: #9E5084;">

  <div id="container" >
    <ul>
      <li>
        <button (click)='idioma("espanol")'> <img src="./../../assets/idiomas/espana.png"  width="100px"></button>
      </li>
      <li>
        <button (click)='idioma("portugues")'> <img src="./../../assets/idiomas/portugal.png"  
            width="100px"></button>
      </li>
      <li>
        <button (click)='idioma("ingles")'> <img src="./../../assets/idiomas/reino-unido.png"  
            width="100px"></button>
      </li>
    </ul>
  </div>
</div>
</ion-content>