#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #7c44ec;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
  --background: #7c44ec;
}
@media screen and (orientation:portrait) {
  ion-content{
    display: flex; 
    flex-direction: column;
    div{
      height: 100%;
      ion-button{
        height: 20%;
        img{
          height: 10em;
        }
      }
    }

  }
}

@media screen and (orientation:landscape) {
  ion-content{
    div{
      display: flex;
      flex-direction: row;
      height: 100%;
      ion-button{
        height: 100%;
        width: 20%;
      }
    }
  }
}
 
